body{
    background-color: #005276;
}
section{
    
    text-align: center;
    font-size: medium;
    font-weight: 200;
    padding: 50px;
    background-color:#a3ceef;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-top: 10%;
    background: linear-gradient(to right,#00b4d8,#7a9f79,#ffcce5);
}
@keyframes borderAnimation {
    0%, 100% {
        border-width: 3px;
        border-image-slice:1;
        border-image-source: linear-gradient(45deg, #933276, #2e91a8, #1414b8, #933276);
    }
    50% {
        border-width: 3px;
        border-image-slice:1;
        border-image-source: linear-gradient(45deg, #2e91a8, #1414b8, #933276, #933276);
    }
} 
.card-container{
    width: 200px;
    animation: borderAnimation 3s infinite;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #933276, #2e91a8, #1414b8, #933276);
    box-shadow: 5px 5px  3px #009dcf;
}
.card-btn{
background-color: #a3ceef;
border-radius: 24px;
cursor: pointer;
}
.card-btn:hover{
    background-color: #00609c;
    box-shadow: 2px 2px #c5d4e8;
}
.card-img{
    width: 80%;
    border-radius: 0.5rem;
}
.card{
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    color: aliceblue;

}
#Box{
    display: flex;
    justify-content: space-evenly;    
    height: 100vh; 
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
